<link rel="stylesheet" href="/css/gallery.css">
<meta name="referrer" content="no-referrer">
<%- partial('_partial/bg-cover') %>

<main class="content">
    <div class="container">
        <% if (site.data && site.data.galleries) { %>
        <% var galleries = site.data.galleries; %>
        <div class="gallery-wrapper row">
            <% for (var i = 0, len = galleries.length; i < len; i++) { %>
            <% var gallery = galleries[i]; %>
            <div class="col s6 m4 l4 xl3 gallery-box">
                <a href="./<%- gallery.name %>" class="gallery-item" data-aos="zoom-in-up">
                    <img src="https://cdn.jsdelivr.net/gh/0cmg/imgtu@develop/images<%- gallery.cover%>" style="height: 8rem; width: 6rem;margin-top: 2ex;">
                    <!--<div class="gallery-cover-box" style="background-image: url(https://cdn.jsdelivr.net/gh/0cmg/imgtu@develop/images<%- gallery.cover%>);">
                    </div>-->
                    <p class="gallery-name">
                        <%- gallery.name %>
                    </p>
                </a>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</main>

